@media screen and (max-width: 1199px) {
    .tab-content {
        .device-wrap {
            .item {
                .item-wrap {
                    .img-wrap {
                        width: 80px;
                        position: relative;
                        left: 10px;
                    }
                    .btn {
                        right: 10px;
                    }
                }
                .price-wrap {
                    .month {
                        top: 0;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 991px) {
    .sm-no-add-left { margin-left: 0 !important; }
    .sm-half-left { margin-left: 5px !important; }
   
    .sm-add-top-15 { margin-top: 15px !important;}

    header {
        .navbar {
            .nav {
                li {
                    a { margin-right: 25px; }
                }
            }
        }
    }

    .modal {
        .modal-body {
            .images {
                .preview {
                    margin-left: 25px;
                }
            }

            .price-wrap {
                text-align: left;
                margin-bottom: 20px;
            }
        }
    }

    .tab-content {
        .plan-wrap,
        .device-wrap {
            .item {
                margin-bottom: 30px;
                width: calc((100% / 2) - 30px);
            }
        }
    }

    #cart-drop {
        text-align: right;
        top: -20px;
    }

    .process-steps {
        li {
            span {
                font-size: 13px;
            }
        }
    }

    .checkout-section {
        .left-con {
            form {
                border-right: 0;
                padding-right: 0;
            }
        }
        .right-con {
            .checkout-item-con {
                width: 100%;
                min-width: 320px;
            }
        }
    }

}

@media screen and (max-width: 767px){
    .xs-add-top-2 { margin-top: 20px !important; }
    .xs-add-top-3 { margin-top: 30px !important; }
    .xs-add-top-4 { margin-top: 40px !important; }
    .xs-add-top-5 { margin-top: 50px !important; }

    .xs-no-pad-top { padding-top: 0 !important; }

    .xs-no-pad-left { padding-left: 0 !important; }
    .xs-pad-left { padding-left: 10px !important; }
    .xs-pad-left-15 { padding-left: 15px !important; }

    .xs-pad-right { padding-right: 10px !important; }
    .xs-pad-right-15 { padding-right: 15px !important; }

    .xs-full-width { width: 100%; }
    .container { width: 100% !important; }

    .modal-dialog { margin: 0; }

    header {
        .navbar {
            .container-fluid { 
                padding-left: 15px;
                padding-right: 15px;
            }
        }    
        .navbar-collapse {
            margin-top: 15px; 
            border-color: $gray_3;
            overflow-y: inherit !important;
            .nav {
                float: none;

                li {
                    text-align: center;
                    margin-bottom: 15px;
                    a {
                        display: inline-block;
                        margin-right: 0;

                        &.btn.style1 {
                            top: 0;
                        }
                    }
                }
            }   
        }
    }

    .process-steps {
        li {
            font-size: $f_13;

            span {
                display: none;
            }

            &:before {
                width: 30px;
                height: 30px;
            }

            &:after {
                top: 15px;
            }

            &.current {
                span { display: block; }
                &:before {
                    background-position: 6px 6px;
                    background-size: 65%;
                }   
            }
        }
    }

    .tab-content {
        .plan-wrap,
        .device-wrap {
            margin-top: 0;
            justify-content: center;
            .item {
                width: 100%;
                max-width: 500px;
                margin-bottom: 20px;
                
                .desc { margin-bottom: 5px; }
                .item-wrap {
                    margin-bottom: 0px; 
                    padding: 30px 0 60px 0;

                    .btn { right: 17%; }

                    h5 { 
                        margin-bottom: 20px;
                    }
                    .img-wrap {
                        max-width: 100px;
                        height: auto;
                    }
                    .mobile-flex {
                        display: flex;
                        align-items: center;
                        padding-bottom: 15px;
                    }

                    &.plan {
                        padding: 5px 0;
                        h5 { white-space: nowrap; }
                        .device-name { margin-bottom: 20px; }
                        .desc { font-size: 10px; }
                        .price-wrap {
                            border: 0;
                            margin: 0;
                            padding: 25px 0 0 0;
                            .price { font-size: 45px; }
                            .month { 
                                font-size: 13px;
                                position: relative;
                                top: 0;
                                i {
                                    display: inline-block;
                                } 
                            }
                        }
                    }
                }
            }
        }
        #tablets,
        #phones,
        #accessories {
            .device-wrap {
                .item {
                    .item-wrap {
                        padding-bottom: 60px;
                       .row {
                            margin: 0 !important;
                            > div {
                                &:last-child {
                                    padding-left: 0 !important;
                                }
                            }
                       }
                       .img-wrap { left: 0; }
                       .device-name {
                            padding: 0px 15px 0 15px;
                            font-size: 13px !important;
                       }
                       .desc { font-size: 10px; }
                       .price-wrap {
                            margin-top: 15px !important;
                            margin-bottom: 15px !important;
                            padding-bottom: 10px;
                            width: 58.33%;
                            left: auto;
                            right: 0;
                       }
                    }
                }
            }
        }
        .plan-wrap {
            .item {
                .item-wrap {
                    &.plan {
                        .mobile-flex {
                            display: flex;
                            padding-bottom: 0;
                            > div {
                                &:last-child {
                                    position: relative;
                                    left: auto;
                                    bottom: auto;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    section {
        &.choose-device-content {
            margin-bottom: 70px;
        }
    }

    footer {
        .links {
            margin-top: 35px;
        }
    }

    .modal {
        .modal-body {
            .images { justify-content: center; }
        }
        .content-holder {
            padding: 0 !important;
        }
    }

    .confirm-summary {
        .summary-item {
            .img-wrap {
                margin-left: auto;
                margin-right: auto;
                float: none;
            }
            .info {
                float: none;
                width: 100%;
                clear: both;
                text-align: center;
                margin-left: 0;
            }
            .pricing {
                float: none;
                text-align: center !important;
            }
        }
    }

    .confirm-calculation {
        max-width: 100%;
        float: none;
    }

    #cart-drop-mobile { display: block !important; }
    #cart-drop { display: none; }

    .checkout-section {
        .form-notif {
            .form-notif-wrap {
                display: block;
                p { text-align: center !important; }
                .btn {
                    margin-top: 30px;
                    width: 100% !important;
                    max-width: 190px;
                }
            }
        }
    }

    .checkout-section {
        .right-con {
            padding-left: 0;
            padding-right: 0;
            display: none;
        }
    }

    #choosePlan {
        .close {
            display: block;
        }
        .right-con {
            &:before {
                width: 100%;
                left: 0;
                background-position: top center;
            }
            .separator {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    #modalProceed {
        .modal-content { margin: 30px auto 0 auto }
    }

}

@media screen and (max-width: 600px){

}

@media screen and (max-width: 600px){

}
@media screen and (max-width: 549px) {
    html { font-size: 53%; }
    h1 { font-size: 3.0rem !important; }
    h2 { font-size: 2.8rem !important; }
    h3 { font-size: 2.4rem !important; }
    h4 { font-size: 2.0rem !important; }
    h5 { font-size: 1.6rem !important; }
    h6 { font-size: 1.4rem !important; }

    .f16 { font-size: 1.6rem !important; }
    .f15 { font-size: 1.5rem !important; }
    .f14 { font-size: 1.4rem !important; }
    .f13 { font-size: 1.3rem !important; }
    .f12,
    #gb li a,
    footer .links li a { font-size: 1.2rem !important; }

    .price-wrap { 
        .price { font-size: 4.5rem !important; }
        .month,
        .sign { font-size: 1.3rem !important; }
    }

    .specifications {
        .specs,
        .in-box li { font-size: 1.3rem !important; }
        
    }

    /*.btn {
        &.style2 { 
            font-size: 1.2rem !important; 
            padding: 0 10px;
            font-size: 1em !important;
        }
    }*/

    .process-steps {
        li {
            font-size: 1.3rem;
            font-weight: $semi-bold;

            &:before {
                width: 25px;
                height: 25px;
            }

            &:after {
                top: 12px;
            }
            
            &.current {
                &:before {
                    background-position: 5px 5px;
                    background-size: 60%;
                }   
            }
        }
    }

    #chooseDeviceTab {
        li {
            a {
                padding: 0 10px;
                line-height: 40px !important;
                font-size: 1.2rem;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .tab-content .plan-wrap .item .item-wrap.plan .price-wrap .btn {
        padding: 0 10px;
        font-size: 1em;
    }
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    #cart-drop-mobile.show .drop-con,
    #cart-drop.show .drop-con { padding-top: 50px; }
}