
 <div class='pccDevicePopupOverlay'></div>
 <div class="pccPartnerCoverageDialog">
 	<div id="pccCloseButtonContainer" class="pccCloseButtonContainer hbox pccPointer mapclrstyle" ng-click="hidePartnerCoverage()">
        <div><div class="noWrap pccSkipLabel">CLOSE</div></div>
        <div class="pccClose"></div>
    </div>
 	
	<div class="pccPartnerCoverageContainer">	
		<img alt="" src="pcc/images/partnercoverage-map.png" class="mapclrstyle">	
	</div>    

    <div id="partnerCoverageLegend" class="hbox pccPartnerCoverageLegend mapclrstyle">
         
           <div class="pccLegendItem">
               <div class="pccLegendSwatch legend-swatch-type-LTE-excellent"></div>
               <div class="pccLegendLabel">4G LTE Coverage</div>
           </div>           
           <div class="pccLegendItem pccPartnerLegendItem">
               <div class="pccLegendSwatch legend-swatch-type-partner"></div>
               <div class="pccLegendLabel" >Partner Coverage</div>
           </div>
       
   </div>
   
   
</div>
