$lightGreyBG: 				#f6f5f5;
$darkGreyBG: 				#4c606b;
$darkerGreyBG: 				#3d4d56; 
$greenBG: 					#8dd43f;
$mediumGreyBG: 				#cfdee6;
$blueBG: 					#1db4cb;
$blackBG: 					#283238;
$whiteBlueBG: 				#e8f7fa;


// $lightGreyText: 			#aab8bd;
$greenText: 				#8dd43f;
$blueText: 					#1db4cb;
$lightBlueText: 			#65d3e4;
// $darkGreyText:				#4c606b;


$greyBorder: 				#d7dee0;



// Teltik Colors
$blackBG: 					#262626;
$purple: 					#6004ba;
$darkPurple: 				#440098;
$tealBlue: 					#33cccc;
$pink: 						#b500fa;
$whiteText: 				#fffefe;

$lightGreyText: 			#aab8bd;
$darkGreyText: 				#4c606b;
$lightGreyBorder: 			#d5dbde;


$holidayRed: 				red;
